<% provide(:title, 'About Us') %>
<div class="well well-large">
	<% if cookies[:language] != nil && cookies[:language] == "CN" %>
  	<%= render 'chinese/about' %>
  <% else %>
    <%= render 'english/about' %>
  <% end %>
</div>