<% provide(:title, 'Accounting') %>
<div class="body-container well well-large">
	<h1>Accounting</h1>
	<p>
	Stephen Wan Accountancy serves a diverse clientele, from traditional to dot-com. Our current client list includes businesses in the brokerage field, convalescent homes, education, entertainment, food service, high-tech R&D, hospitality, import-export trading, manufacturing, medical practice, real estate development, software programming, specialty retail and telecommunications. If your business fits within any of these fields, we are ready to put forth our best efforts to serve you well.
	</p>
	<p>
	Our firm offers the full range of financial accounting services, from the basic level of write-up and compilation to the advanced level of review and audit. In addition to these services, we can assist our clients in the development of their own accounting department, by advising on personnel recruitment as well as on accounting software selection, testing and evaluation.
	</p>
	<p>
	This broad spectrum of expertise and services is due to the unique group of professionals with a “can do” attitude that make up Stephen Wan Accountancy.
	</p>
</div>