<% provide(:title, 'Consulting') %>
<div class="well well-large">
	<p class="lead">
	As a client's business matures, Stephen Wan Accountancy's advisory service comes into play.</p> 
	<p>
	Our consultants have more to offer than mere Business School bromides – at Stephen Wan, a client is partnered with technology and occupational professionals with knowledge and experience in the applicable business. They can tell you how to create and capture opportunities, what really works in the digital age of today, and which are the most cost-effective means to accomplish your goals.
	</p>
	<p>
	From our diverse clientele, we have absorbed a broad base of experience that we are then able to focus down to a specific industry. Where a business has outgrown its former limits and is ready for listing in the Exchange, we will work with a number of brokerage firms and venture capital groups in order to gain our client the necessary capital and expertise. In the case of overseas expansion, we can offer a new pool of resources through our affiliate firms in Guangzhou, China and Hong Kong, SAR.
	</p>
</div>