<% provide(:title, 'Contact') %>
<div class="body-container">
	<% if cookies[:language] != nil && cookies[:language] == "CN" %>
  	<%= render 'chinese/contact' %>
  <% else %>
    <%= render 'english/contact' %>
  <% end %>
</div>