<% provide(:title, 'Employment') %>
<div class="well well-large">
	<p class="lead">
		Veteran professionals with public accounting background are always welcome to join and grow with us at Stephen Wan Accountancy.
	</p>
	<p>
		Your talent will be genuinely valued, and we compensate our team members with a competitive package. Additionally, a number of our clients have asked us to recruit and place accounting personnel on their behalf.
	</p>
	<p>
		We are always looking for excellent accountants and consultants. 
	</p>
	<p>
		Please email your resume in confidence to
		<a href="mailto:hr@stephenwancpa.com">hr@stephenwancpa.com</a>. We are a non-smoking, MF and EOE firm. We do consider professionals with work permits.
	</p>
</div>