<% provide(:title, 'Highlights') %>
<div class="well well-large">
	<% if cookies[:language] != nil && cookies[:language] == "CN" %>
  	<%= render 'chinese/highlights' %>
  <% else %>
    <%= render 'english/highlights' %>
  <% end %>
</div>