<div class="well well-small">
  <h1>Service Beyond Expectation</h1>
  <img id="bigpic" class="img-rounded" src="http://i.imgur.com/3LSmFYf.jpg" height=200px width=800px />
  <br />
</div>

  <div class="well well-large">
  	<p class="lead">
      Stephen Wan Accountancy Corporation, founded 1996, is a growth-oriented, trustworthy firm with offices located in San Francisco and Sunnyvale, California. 
  	</p>
	<p>
Founding member Stephen Wan, a native of Hong Kong, SAR, has over 20 years of accounting experience in such diverse environments as a NYSE-listed corporation, a foreign conglomerate, a regional public firm and a local consulting practice. Our team of accountants works around-the-clock to keep up with developing events in the US and the Pacific Rim.
	</p>
	<p>
Our clients are primarily small to medium-size entrepreneurs set to develop their businesses into larger companies. Our mission is to provide unsurpassed services at reasonable cost, to employ cutting-edge technologies to achieve global reach, and to advise emerging leaders as they travel the path to success.
	</p>
	<p>
We are proud of our clients. We treat our clients as if each was our only one, and we are ever mindful how privileged we are to serve them.
	</p>
	<p>
We believe that the best advertising is by word of mouth, and the caliber of our service ensures that we gain most of our clients by referral.
	</p>
</div>