<div class="well well-large center">
  <img src="http://i.imgur.com/WjorKS9.png", alt="Accounting"/>
  <div class="gap">
  <span class="homelead">Trust</span>
  </div>
	<br>
	<div class="gap">
	  <span class="homelead">Service</span><span class="space"></span>
	  <span class="homelead">Vision</span>
	</div>
  <hr> 
  <p class="lead">
    Stephen Wan Accountancy Corporation, founded 1996, is a growth-oriented, trustworthy firm with offices located in San Francisco and Sunnyvale, California. 
  </p>
</div>