<div class="well well-large center">
  <img src="http://i.imgur.com/WjorKS9.png", alt="Accounting"/>
  <h3>Service Beyond Expectation</h3>
  <hr>
  <p class="lead">
    Stephen Wan Accountancy Corporation, founded 1996, is a growth-oriented, trustworthy firm with offices located in San Francisco and Sunnyvale, California. 
  </p>
</div>