<div class="well well-large">
  <h1>Service Beyond Expectation</h1>
  <%= image_tag("http://i.imgur.com/Y8ucJ34.jpg", alt: "Accounting") %>
  <hr>
  <p class="lead">
    Stephen Wan Accountancy Corporation, founded 1996, is a growth-oriented, trustworthy firm with offices located in San Francisco and Sunnyvale, California. 
  </p>
</div>