<% provide(:title, 'Tax') %>
<div class="well well-large">
	<p class="lead">Tax preparation and filing represents the culmination of our efforts on a client's behalf.</p>
	<p>
	Stephen Wan Accountancy's tax professionals never rest in their quest to identify and develop tax saving ideas for our clients. Whether it is a case of international or multi-state business activity or a single individual's annual return, we carefully plan and execute tax strategies that will produce the most advantageous results. We are confident that our advice and actions will withstand any scrutiny, and a client may be assured of Stephen Wan Accountancy's support and representation in the event of any inquiry or examination.
	</p>
	<p>
	Our firm offers the full range of financial accounting services, from the basic level of write-up and compilation to the advanced level of review and audit. In addition to these services, we can assist our clients in the development of their own accounting department, by advising on personnel recruitment as well as on accounting software selection, testing and evaluation.
	</p>
	<p>
	This broad spectrum of expertise and services is due to the unique group of professionals with a “can do” attitude that make up Stephen Wan Accountancy.
	</p>
</div>

