<p class="lead">
Stephen Wan Accountancy Corporation, founded in 1996, is committed to providing quality professional services with a personal touch towards people, business owners entrepreneurs and to accompany them on the path to success.
</p>
<p>
Our founder Mr. Wan is a Certified Public Accountant with the State of California.  A graduate from the University of Illinois at Urbana-Champaign, Mr. Wan has accumulated over 30 years of comprehensive experience in financial accounting, taxation and management consulting from working with a NYSE listed company, foreign conglomerate, regional public accounting firm, and local tax consulting practices.
</p>
<p>
In 2004, Mr. Wan served as the Chief Financial Officer and Executive Director of a trend-setting developer of award winning green hotels in California.  In 2008, Mr. Wan was nominated as the Executive Board Member and Treasurer of a company listed on the Over-The-Counter Bulletin Board (OTC BB).
</p>
<p>
By January 2010, the firm was admitted to be a member of the Public Company Accounting Oversight Board (PCAOB).  Since then, the firm has been providing tax consultation and attestation services to publicly listed companies on the exchange.
</p>
<hr>
<p>
We offer a full selection of financial accounting services; ranging from write-ups, compilations, reviews, audits to tax planning, preparation and appeals, and management consulting to litigation support.  Our clients are largely small to medium-sized enterprises (SME) with annual revenue less than fifty million dollars.  We serve a diverse clientele: including brokerage, convalescent homes, education, entertainment, food services, high-tech R&D, hospitality, import-export trading, investment advisory, manufacturing, medical practice, real estate development, software programming, specialty retail, and telecommunications.
</p>
<p>
For more than ten years we have been working closely with enterprises, investors from Hong Kong, China and members within their affiliated group incorporated in the U.S. on a wide range of financial accounting and tax matters, including minimizing their U.S. tax liabilities.  We also advised our U.S. private company clients on legitimate tactics for reporting profitable overseas operations in China, Singapore, Thailand and Vietnam to the U.S. tax authorities while keeping the tax burden to a statutory minimum.
</p>
<p>
With offices in San Francisco and Sunnyvale, California, we are able to offer direct and effective support to clients along the Bay Area corridor.  Being a medium sized firm enables us to deliver such services at a fraction of the fees that large or national accounting firms would have demanded.  We are confident that our team of CPAs & MBAs with practical working experience from the big four international and large regional firms would be able to help you to attain your goals.
</p>
<p>
No matter whether you are interested in financial accounting，auditing，taxation or consulting services, and no matter whether you are an individual or a company, private or public, we are ready to serve you and your organization.
</p>