<div class="well well-large">
	<p class="lead">
		Reach us at either of our two locations:
	</p>
	<p>
		<ul class="inline">
		<li>
			<address>
  				<strong>Sunnyvale Office</strong><br>
  				848 Stewart Drive, Suite 100<br>
  				Sunnyvale, CA 94085<br>
  				<abbr title="Phone Number">Tel:</abbr> (408) 736-3000 <br>
  				<a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=848+Stewart+Drive,+Suite+100+Sunnyvale,+CA+94085&aq=&sll=37.269174,-119.306607&sspn=9.927198,20.390625&vpsrc=0&ie=UTF8&hq=&hnear=848+Stewart+Dr+%23100,+Sunnyvale,+Santa+Clara,+California+94085&t=m&z=16">Driving Directions</a>
			</address>
		</li>
		<li>
			<address>
  				<strong>San Francisco Office</strong><br>
  				2323 Noriega Street, Suite 203<br>
  				San Francisco, CA 94122<br>
  				<abbr title="Phone Number">Tel:</abbr> (415) 731-3861 <br>
  				<a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2323+Noriega+Street,+Suite+203+San+Francisco,+CA+94122&sll=37.269174,-119.306607&sspn=9.927198,20.390625&vpsrc=0&ie=UTF8&hq=&hnear=2323+Noriega+St+%23203,+San+Francisco,+California+94122&ll=37.753921,-122.488525&spn=0.009636,0.019913&t=m&z=16&iwloc=A">Driving Directions</a>
			</address>
		</li>
		</ul>
		<%= link_to "admin@stephenwancpa.com", "mailto:admin@stephenwancpa.com" %><br>
		<%= link_to "hr@stephenwancpa.com", "mailto:hr@stephenwancpa.com" %>
	</p>
</div>