<em>Client Names Are Intentionally Omitted For Confidentially</em>
<hr>
<ul>
	<li>
	Successfully defended two independent private companies regarding
	IRS examinations; one over frequent import/export activities with the Hong Kong
	affiliate, with another case involving inter-company transactions of an affiliated in India.
	</li>
	<br>
	<li>
	Produce voluminous meticulous accounting and tax documents to counsel on IRS appeal, reduced and settled to less than five cent on a dollar on the originally multi-million charges.
	</li>
	<br>
	<li>
	Provided tax advice on transfer pricing and preparation for the U.S. subsidiary of a
	Hong Kong main board listed companies in telecommunication and solar equipment fields.
	</li>
	<br>
	<li>
	Represented the U.S. subsidiary of a China-based NASDAQ listed corporation,
	in resolving U.S. employment tax issues with the IRS and preparing tax returns.
	</li>
	<br>
	<li>
	Worked closely with the Chairman of a premier electrical meter manufacturer
	in Hangzhou, China on reverse-merger acquisition to a NASDAQ listed company.
	</li>
	<br>
	<li>
	Assisted the reverse-merged NASDAQ listed company acquisition of a mobile phone design
	division from an international electronic conglomerate with operations in the U.S. and Canada.
	Facilitated client’s transition to U.S. financial accounting and tax systems.  Performed the roles of internal accounting team in preparing financial statements for audit and SEC filing purposes.
	</li>
	<br>
	<li>
	Performed the financial audit and tax preparation of a private company on sale of the U.S. headquarter and an India engineering unit to a health care subsidiary of a NYSE listed company.
	</li>
	<br>
	<li>
	Formulated a long-term tax plan to minimize U.S. corporate and income taxes for a group
	of investors of a China-Based Over-The-Counter Bulletin Board (OTC BB) listed company.
	</li>
	<br>
	<li>
	Collaborated with international law and accounting firms in planning and preparing the U.S. company listing in Taiwan Over-The-Counter (OTC) and potential duo-listing back into the U.S.
	</li>
	<br>
	<li>
	Devised strategic blueprint for a U.S. growth-oriented software company in the formation
	of its Asia operating arm to lower the overall tax burden, preserving cash flows for expansion.
	</li>
	<br>
	<li>
	Act as accountant advisor to a group of predominantly Hong Kong investors to file and list their U.S. based franchise onto OTC BB.  Organize for rapid growth to national market in near future.
	</li>	
</ul>