<p class="lead">
万盛会计师事务所于1996年成立，致力为客户提供优质的专业服务，陪伴企业家们一起邁向成功的道路。
</p>
<p>
我们的创办人万先生是美国加利福尼亚州的注册会计师。万先生毕业于美国伊利诺斯州大学厄巴纳 - 香槟分校，拥有超过30年全面的财务会计、税务和管理咨询经验。曾服务于纽约证券交易所上市公司、外国企业集团、区域性会计师事务所及地方税务咨询中心。
</p>
<p>
在2004年，万先生担任加州一家引领潮流及荣获绿色饭店的发展商之首席财务总监及执行董事。在2008年，万先生被提名为一家美国场外交易议价板（OTC BB）上市公司之董事会成员及司库。
</p>
<p>
2010年1月，本事务所成为美国公众公司会计监督委员会（PCAOB）的成员。自始，本事务所向上市公司提供税务咨询及认证服务。
</p>
<hr>
<p>
我们提供一系列全面的财务会计服务：从基本纪录、编制、检阅、审计，至税务策划、申报和申诉，以及管理咨询至诉讼支援。我们的客户主要是全年收入5千万美元以下的中小型企业（SME）。我们服务的客户来自各种各样的行业：包括经纪商、疗养院、教育、娱乐、餐饮服务、高科技研发、旅馆，进出口贸易、投资咨询、产品制造、医疗、房地产开发、软件设计、零售及电信。
</p>
<p>
十余年来，我们一直密切与企业、来自香港、中国的投资者及在其在美国注册成立的关连集团成员合作，提供广泛的财务会计及税务服务，包括尽量减少他们的美国税项负债。我们也有向美国私人公司客户提供建议，合法地向美国税务当局报告有盈利的海外业务（包括中国、新加坡、泰国、越南等地区），而同时把美国税务负担保持至最低法定金额。
</p>
<p>
我们设于加利福尼亚州旧金山和桑尼维尔的办事处，能为湾区的客户提供直接、有效的支缓。作为一家中型会计师事务所，对比于全国性大型会计师事务所，我们能够以相宜的收费为客户提供服务。我们相信我们拥有四大国际会计师事务所及大型地区事务所实际工作经验的注册会计师及工商管理硕士团队定必能够协助你实现你的目标。
</p>
<p>
无论你需要财务会计、审计、税务或咨询服务，无论你是个人还是私人或上市公司，我们乐意为你提供服务。
</p>