<em>基于保密，客户名被故意省略</em>
<hr>
<ul>
	<li>
	成功地代表两个独立的美国私人公司客户在国税局税务检查案件中辩护：其中一宗涉及与其香港关连公司有频繁的进出口活动，另一宗涉及持有其印度附属公司的大多数控股。
	</li>
	<br>
	<li>
	准备详尽精密的会计和税务文件向国税局提出申诉，使税项支出由最初的数百万元减少至每美元低于五美仙。
	</li>
	<br>
	<li>
	为在香港联交所上市的电信和太阳能设备等领域的公司之美国的子公司，提供转让定价税务建议及准备税务申报事宜。
	</li>
	<br>
	<li>
	代表一家中国公司之美国纳斯达克市场上市附属公司，与国税局解决美国的雇庸税务问题及准备税务申报事宜。
	</li>
	<br>
	<li>
	与中国杭州首屈一指的电子仪表制造商的公司主席紧密合作，对一家美国纳斯达克上市公司进行反向并购。
	</li>
	<br>
	<li>
	协助该完成反向并购的美国纳斯达克市场上市公司，向知名国际电子企业集团，收购其美国和加拿大的手机设计业务。促使客户顺利过度至美国的财务会计和税务体制。以内部会计团队的角色，编制财务报表以供审计和美国证劵交易委员会申报之用。
	</li>
	<br>
	<li>
	为一家私人公司进行财务审计和税务准备，以出售其美国总部及印度工程单位予纽约证券交易所上市公司之附属医疗保健公司。
	</li>
	<br>
	<li>
	为一家美国场外交易议价板上市公司的一组中国投资者，制定长期的税务方案以减低美国的企业税和所得税。
	</li>
	<br>
	<li>
	与国际律师及会计师事务所合作，为一家美国公司在台湾场外交易市场（OTC）进行上市的策划和筹备，以及研究该公司在美国双重上市的可能。
	</li>
	<br>
	<li>
	为一家以增长为目标之美国软件公司，制定成立其亚洲营运公司的策略蓝图，以降低整体税务负担，保持现金流以支持业务扩张。
	</li>
	<br>
	<li>
	担任一组主要来自香港的投资者的会计顾问，为他们的特许经营权在美国场外交易议价板进行上市登记，以及为他们在不久将来在美国全国市场快速扩张进行相关安排。
</ul>